html,
body,
#___gatsby,
canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body { 
  background-color: midnightblue;
}

h1 {
  font-family: helvetica;
  font-weight: 800;
  font-size: 20em;
  text-align: center;
  color: hotpink;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}